# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# OS-specific
.DS_Store
Thumbs.db

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Build output
dist/
build/

# Coverage
coverage/

# IDE settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Debugging
*.tgz
*.swp

# Optional for Docker users
docker-compose.override.yml

# Optional: MongoDB dump
dump/
.vercel
